@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.formulario {
   display: flex;
   flex-direction: column;

   &__fieldset {
      all: unset;
      // margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      &--ocultar {
         display: none;
      }

      &--mostrar {
         display: block;
      }
   }

   &__legend {
      color: color.adjust(v.$gris, $lightness: -50%);
      font-size: 2rem;
      margin-bottom: 1rem;
   }

   &__colunm {
      @include m.grid(1, 1.5rem);
  
      @include m.tablet {
         @include m.grid(2, 1.5rem);
      }
   }

   &__row {
      display: flex;
      flex-direction: column;
      gap: .5rem;
   }

   &__label {
      font-size: 1.3rem;
      color: rgba(v.$negro, .8);
      padding-left: .5rem;
   }

   &__input,
   &__select {
      all: unset;
      padding: .5rem 1rem;
      border: 1px solid color.adjust(v.$dark, $lightness: -50%);
      border-radius: .8rem;
      box-sizing: border-box;
      width: 100%;

      &--error {
         border: 2px solid v.$error;
         background-color: rgba(v.$error, .2);
         color: v.$error;
      }
   }

   &__error {
      text-align: right;
      font-weight: v.$medium;
      color: v.$error;
      font-size: 1.2rem;
   }

   &__submit {
      @include m.boton(v.$azul, v.$blanco);
      & {
         padding: 1rem;
         margin-top: 2rem;
         box-sizing: border-box;
      }

      &--registrar,
      &--full {
         width: 100%;
      }

      &--disable {
         opacity: 0.5;
      }
   }
   
}
