@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
   display: flex;
   flex-direction: column;

   &__fieldset {
      all: unset;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
   }

   &__legend {
      color: adjust-color(v.$gris, $lightness: -50%);
      font-size: 2rem;
      margin-bottom: 1rem;
   }

   &__colunm {
      @include m.grid(1, 1.5rem);
  
      @include m.tablet {
         @include m.grid(2, 1.5rem);
      }
   }

   &__row {
      display: flex;
      flex-direction: column;
      gap: .5rem;
   }

   &__label {
      font-size: 1.3rem;
      color: rgba(v.$negro, .8);
      padding-left: .5rem;
   }

   &__input,
   &__select {
      all: unset;
      padding: .6rem 1rem;
      border: 1px solid adjust-color(v.$dark, $lightness: -50%);
      border-radius: .8rem;
      box-sizing: border-box;
      width: 100%;
   }

   &__submit {
      @include m.boton(v.$azul, v.$blanco);
      & {
         padding: 1rem;
         margin-top: 2rem;
      }

      &--registrar,
      &--full {
         width: 100%;
      }
   }
   
}
