@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.matricula {

   &__tabs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include m.tablet {
         flex-direction: row;
      }
   }

   &__boton {
      // background-color: v.$azul;
      border: 1px solid v.$azul;
      color: v.$azul;
      padding: 1rem;
      display: block;
      width: 100%;
      font-weight: v.$bold;
      transition: background-color 300ms ease;

      &:hover {
         cursor: pointer;
         background-color: color.adjust(v.$azul, $lightness: 10%);
         color: v.$blanco;
      }

      &--footer {
         @extend .matricula__boton;
         background-color: v.$verde;
         border: none;
         color: v.$blanco;

         &:hover {
            background-color: color.adjust(v.$verde, $lightness: 10%);
         }
      }
   }

   &__actual {
      background-color: v.$azul;
      color: v.$blanco;
   }

   &__seccion {
      // text-align: center;
      display: none;
   }

   &__texto {
      text-align: center;
      font-size: 1.6rem;
      font-weight: v.$bold;
   }

   &__contenido {
      padding: 3rem 0;
      @include m.grid(1, 2rem);
      @include m.desktop {
         @include m.grid(2, 2rem);
      }
   }

   &__paginacion {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include m.movil {
         flex-direction: row;
         justify-content: space-between;
      }
   }

   &__mostrar {
      display: block;
   }

   &__ocultar {
      display: none;
   }

   &__h3 {
      color: color.adjust(v.$gris, $lightness: -40%);
      margin: 0;
      font-weight: v.$medium;
      text-align: center;
      margin-bottom: 2rem;
   }

   &__ul {
      @include m.lista;
   }

   &__li {
      padding: 1rem;
      background-color: v.$gris;
      font-weight: v.$bold;
      margin-bottom: .7rem;

      &:last-of-type {
         margin-bottom: 0;
      }


      span {
         font-weight: v.$regular;
      }

      &:hover {
         cursor: pointer;
      }
   }

   &__selecionado {
      background-color: v.$verde;
      color: v.$blanco;
   }

   &__aviso {
      padding: 1rem;
      background-color: v.$gris;
      text-align: center;
   }


}