@use 'base/variables' as v;
@use 'base/mixins' as m;

.table {
   width: 100%;
   border-collapse: collapse;
   white-space: nowrap;
   @include m.desktop {
      white-space: normal;
   }

   &__thead {
      background-color: adjust-color(v.$dark, $lightness: -15%);
      color: v.$blanco;
   }

   &__th {
      padding: .7rem 1rem;
      text-align: left;
      font-size: 1.1rem;
      font-weight: v.$regular;
   }

   &__tr {
      &:nth-child(even) {
         background-color: adjust-color(v.$gris, $lightness: 2%);
      }
   }

   &__td {
      padding: .6rem 1rem;
      font-size: 1.1rem;

      &--noregistro {
         text-align: center;
      }
   }

   &__acciones {
      display: flex;
      // flex-direction: column;
      justify-content: flex-end;
      text-align: right;
      gap: .5rem;

      @include m.desktop {
         flex-direction: row;
         gap: 1rem;
      }
   }

   &__estado {
      font-size: 1.2rem;
      font-weight: v.$bold;

      &--activo {
         color: adjust-color(v.$exito, $lightness: -15%);
      }

      &--inactivo {
         color: v.$error;
      }
   }

   &__accion {
      all: unset;

      &--editar {
         color: v.$aviso;
      }

      &--estado {
         color: v.$azul;
      }

      &--eliminar {
         color: v.$error;
      }

      &:hover {
         cursor: pointer;
      }
   }
}