@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.listado-clientes {
   @include m.lista;
   width: 100%;
   padding: .5rem;
   border-radius: 1rem;
   @include m.sombra;

   &__cliente {
      color: v.$azul;
      border-radius: 1rem;
      font-size: 1.3rem;
      padding: 1rem;

      &--seleccionado {
         background-color: v.$azul;
         color: v.$blanco;
         font-weight: v.$bold;
      }

      &:hover {
         cursor: pointer;
      }
   }

   p {
      margin: 0;
      font-size: 1.2rem;
      padding: .5rem;
   }

}



.datos-cliente {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   margin-top: 2rem;

   &__campo {
      display: flex;
      flex-direction: column;
      gap: .6rem;

      span {
         font-size: 1.2rem;
         padding-left: 1rem;
      }
      p {
         background-color: color.adjust(v.$gris, $lightness: 5%);
         padding: .3rem 1rem;
         border-radius: .5rem;
         font-size: 1.2rem;
         margin: 0;
         height: 2.5rem;
      }

      input {
         all: unset;
         width: auto;
         border-radius: .5rem;
         border: 1px solid color.adjust(v.$gris, $lightness: 1%);
         padding: .3rem 1rem;
         font-size: 1.2rem;
         background-color: color.adjust(v.$gris, $lightness: 5%);
      }
   }

}