@use 'base/variables' as v;
@use "sass:color";

.alerta {
   padding: .6rem 1rem .8rem 2rem;
   margin: 1rem 0;
   font-weight: v.$bold;

   &--error {
      background-color: color.adjust(v.$error, $lightness: 60%);
      border-left: .5rem solid v.$error;
      color: v.$error;
   }

   &--exito {
      background-color: color.adjust(v.$exito, $lightness: 40%);
      border-left: .5rem solid v.$exito;
      color: color.adjust(v.$exito, $lightness: -20%);
   }
}