@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu {
   @include m.lista;

   &__item {
      padding: 1rem;
      // margin-bottom: .5rem;
      
      i {
         width: 1.8rem;
         text-align: center;
      }

      &--sub {
         i {
            width: auto;
         }
      }

      &:hover {
         cursor: pointer;
         background-color: lighten(v.$dark, 0%);
         transition: background-color .5s ease;
         color: v.$blanco;
      }
   }

   &__enlace {
      color: darken(v.$blanco, 40%);
      font-weight: v.$medium;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      gap: 1rem;
   }

   &__nombre {
      flex-grow: 1;
   }

   &__icono {
      &::after {
         content: "";
         width: .6rem;
         height: .6rem;
         border-bottom: 2px solid v.$blanco;
         border-right: 2px solid v.$blanco;
         rotate: -45grad;
         margin-right: .2rem;
      }
   }

   &__submenu {
      @include m.lista;
      padding-left: 2rem;
      font-size: 1.2rem;
      display: none;
   }

   &__activo {
      background-color: lighten(v.$dark, 0%);
   }

   &__activo &__enlace{
      color: v.$blanco;
   }

   &__activo &__submenu {
      display: block;
   }

   &__activo &__icono {
      &::after {
         rotate: 50grad;
      }
   }

}