@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
   background-color: lighten(v.$dark, 3%);
   width: 25rem;
   bottom: 0;
   overflow-y: scroll;

   &__logo {
      color: v.$blanco;
      font-weight: v.$bold;
      padding: 1.7rem;
      text-align: center;
      font-size: 2rem;
      border-bottom: 2px solid lighten(v.$dark, 8%);
      margin-bottom: 3rem;
   }
}